# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Environment
.env

# IDE
.vscode/
.idea/

# Data (don't commit large files)
data/
*.csv
*.parquet
*.pkl
